<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partial/head") %>
    <title>Home</title> 
</head>

<body>
    <header>
        <%- include("../partial/header") %> 
    </header>
    <section class="banner">
        <img src="https://pbs.twimg.com/media/EJYbz_tXYAAZMk-.png" alt="ofertas">
    </section>
    <main>
        <section class="categories">
            <h2 class="titulo-main">CATEGORÍAS</h2>
            <a href="">categoria 1</a>
            <a href="">categoria 2</a>
            <a href="">categoria 3</a>
            <a href="">categoria 4</a>
            <a href="">categoria 5</a>
            <a href="">categoria 6</a>       
        </section>
        <section class="sales">
            <h2>PRODUCTOS DESTACADOS</h2>
            <article class="sale-product">                    
                <a class="producto-destacado" href="#">
                    <img src="./images/botella.png" alt="fernet branca">
                    <div class="descripcion-producto">
                    <h4>Fernet Branca 750ml</h4>
                    <p>$600</p>
                    </div>
                </a>
            </article>
            <article class="sale-product">
                    <a class="producto-destacado" href="#">
                        <img src="./images/botella.png" alt="vodka mas cepita">
                        <div class="descripcion-producto">
                            <h4>Fernet Branca 750ml</h4>
                            <p>$600</p>
                        </div>
                    </a>
            </article>
            <article class="sale-product">
                    <a class="producto-destacado" href="#">
                        <img src="./images/botella.png"alt="paso de los toros mas gancia">
                        <div class="descripcion-producto">
                            <h4>Fernet Branca 750ml</h4>
                            <p>$600</p>
                        </div>
                    </a>
            </article>
            <article class="sale-product">
                    <a class="producto-destacado" href="#">
                        <img src="./images/botella.png" alt="jose cuervo">
                        <div class="descripcion-producto">
                            <h4>Fernet Branca 750ml</h4>
                            <p>$600</p>
                        </div>
                    </a>
            </article>
    </main>
    <footer>
        <%- include("../partial/footer") %> >
    </footer>
</body>

</html>