<!DOCTYPE html>
<html lang="en">

<head>
<%- include("../partial/head") %>
<title>Crear producto</title> 
</head>

<body>
    <header>
        <%- include("../partial/header") %> 
    </header>
    <h1>Crear un Producto</h1>
    <form action="/products/guardar" method="post">
        <fieldset>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Name">
        </fieldset>
        <fieldset>
            <label for="description">Description</label>
            <textarea name="description" id="description" cols="30" rows="10"></textarea>
        </fieldset>
        <fieldset>
            <label for="price">Price</label>
            <input type="number" min="1" name="price" id="price">
        </fieldset>
        <fieldset>
            <label for="stock">Stock</label>
            <input type="range" min="1" max="100" name="stock" id="stock" step="1"></fieldset>
        <fieldset>
            <button type="submit">Guardar</button>
        </fieldset>
    </form>
    <footer>
        <%- include("../partial/footer") %> 
    </footer>
</body>

</html>