<!DOCTYPE html>
<html lang="en">
<head>
<%- include("../partial/head") %>
</head>
<body>
    <header> <%- include("../partial/header") %></header>
    <h1>El archivo se ha creado con exito!!!</h1>
    <a href="/"></a>
    <footer> <%- include("../partial/footer") %></footer>
</body>
</html>