<!DOCTYPE html>
<html lang="en">

<head>
<%- include("../partial/head") %>
<title>Crear producto</title> 
</head>

<body>
    <header>
        <%- include("../partial/header") %> 
    </header>
    <section class="forms">
        <h1>Crear un Producto</h1>
        <form action="/products/guardar" method="post" enctype="multipart/form-data">
            <section class="imputs">
                <input class="imput" type="text" name="name" id="name" placeholder="Nombre">
                    <input type="text" class="imput" name="description" id="description" placeholder="Descripcion">
                    <input class="imput" type="number" name="price" id="price" placeholder="Precio">
                    <input class="imput" type="number" name="stock" id="stock" placeholder="Stock">
                    <select class="imput" name="categorie" id="categorie">
                        <option value="1">Categoria 1</option>
                        <option value="2">Categoria 2</option>
                        <option value="3">Categoria 3</option>
                        <option value="4">Categoria 4</option>
                        <option value="5">Categoria 5</option>
                        <option value="6">Categoria 6</option>
                    </select>
                    <input class="imput" type="file" name="imagen" id="imagen">
                <button type="submit">Guardar</button>
            </section>
        </form>
    </section>
    <footer>
        <%- include("../partial/footer") %> 
    </footer>
</body>

</html>