<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear un Producto</title>
</head>

<body>
    <h1>Crear un Producto</h1>
    <form action="/products/guardar" method="post" enctype="multipart/form-data">
        <fieldset>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Name">
        </fieldset>
        <fieldset>
            <label for="description">Description</label>
            <textarea name="description" id="description" cols="30" rows="10"></textarea>
        </fieldset>
        <fieldset>
            <label for="price">Price</label>
            <input type="number" min="1" name="price" id="price">
        </fieldset>
        <fieldset>
            <label for="stock">Stock</label>
            <input type="range" min="1" max="100" name="stock" id="stock" step="1">
        </fieldset>
        <fieldset>
            <label for="Image">Imagen</label>
            <input type="file" name="ProductImage" id="Imagen" placeholder="Imagen">
        </fieldset>
        <fieldset>
            <button type="submit">Guardar</button>
        </fieldset>
    </form>
</body>

</html>