<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partial/head") %> 
    <title>Detalle del producto</title>
</head>
<body>
    <header>
        <%- include("../partial/header") %> 
    </header>
    <main>

        <section class="main">
            <div class="product">
                <div class="product_images">
                    <div class="samples_img">
                        <img src="/images/botella_roberto_cavalli.jpg" alt="">
                        <img src="/images/logo_roberto_cavalli.jpg" alt="">
                    </div>
                    <img class="main_img" src="/images/botella_roberto_cavalli.jpg" alt="">
                </div>
                <div class="product_description">
                    <h3>DESCRIPCION</h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, incidunt. Ducimus qui in quo iure suscipit earum id aspernatur cum quae ab maxime autem, numquam, tenetur, beatae modi magnam odit?
                    </p>
                </div>
            </div>
            <div class="buy_section">
                <h3>VODKA ROBERTO CAVALLI</h3>
                <p>$30.000</p>
                <div>
                    <p>Medios de envio</p>
                    <div style="display: flex;">
                        <p class="fas fa-store"></p>
                        <p> retira por nuestra sucursal</p>
                    </div>
                    <div style="display: flex;">
                        <p class="fas fa-truck"></p>
                        <p> envios a todo el pais</p>
                    </div>
                    <form action="">
                        <label>Seleccione la cantidad a comprar</label>
                        <select name="cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="+10">+10</option>
                        </select>
                        <button type="submit">
                            <label> COMPRAR</label>
                        </button>
                        <button type="submit">
                            <label> AGREGAR AL CARRITO</label>
                        </button>
                    </form>
                </div>
            </div>
        </section>
        <section class="acompañamientos">
            <h3>Acompañamientos</h3>
            <div class="productos_acompañamientos">
                <div class="producto_acompañamiento">
                    <img src="/images/mani.jpg" alt="">
                    <h4>Paquete de mani</h4>
                    <p>$100</p>
                    <form action="" method="get">
                        <button type="submit">
                            Agregar al carrito
                        </button>
                    </form>
                </div>
                <div class="producto_acompañamiento">
                    <img src="/images/schweppes_pomelo.jpg" alt="">
                    <h4>Schweppes de pomelo</h4>
                    <p>$250</p>
                    <form action="" method="get">
                        <button type="submit">
                            Agregar al carrito
                        </button>
                    </form>
                </div>
                <div class="producto_acompañamiento">
                    <img src="/images/red_bull.jpg" alt="">
                    <h4>Lata Red Bull</h4>
                    <p>$150</p>
                    <form action="" method="get">
                        <button type="submit">
                            Agregar al carrito
                        </button>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <%- include("../partial/footer") %> >
    </footer>
</body>
</html>
