<!DOCTYPE html>
<html lang="en">
<%- include ("../partial/head") %>
<body>
    <header>
    <%- include ("../partial/header") %>
</header>
<% productos.forEach(producto => { %>
    <p><%= producto.name%> </p>
<% }) %>
    <footer>
        <%- include ("../partial/footer") %> 
    </footer>
</body>
</html>