<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <header>
        <section class="top-header">
            <div class="top-left-bar">
                <a href="#" class="hamburger-menu">
                    <i class="fas fa-bars"></i>
                </a>
                <div class="logo">
                    <img src="/images/Beer Mug Free SVG Cut File.png" alt="Logo Birritapp">
                </div>
            </div>
            <div class="top-right-bar">
                <a href="#" class="my-account-icon">
                    <i class="fas fa-user-circle"></i>
                </a>
                <a class="carrito" href="#">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
            <nav class="my-account">
                <ul>
                    <li><a href="#">Registrarse</a></li>
                    <li><a href="#">Iniciar Sesión</a></li>
                </ul>
            </nav>
        </section>
        <section class="mid-header">
            <form action="" class="barra-busqueda" method="get">
                <input class="search-bar" type="search" placeholder="Buscár productos, categorías, marcas..." autocomplete="off">
                <button class="search-btn" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <nav class="nav-mid-header">
                <ul class="left-mid-navbar">
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Promociones</a></li>
                    <li><a href="#">Prueba</a></li>
                    <li><a href="#">Prueba</a></li>
                    <li><a href="#">Prueba</a></li>
                    <li><a href="#">Prueba</a></li>
                    <li><a href="#">Prueba</a></li>
                    <li><a href="#">Prueba</a></li>
                </ul>
                <ul class="right-mid-navbar">
                    <li>
                        <a class="carrito" href="#">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
    </header>
    <section class="banner">
        <img src="https://pbs.twimg.com/media/EJYbz_tXYAAZMk-.png" alt="ofertas">
    </section>
    <main>
        <h2 class="titulo-main">CATEGORÍAS</h2>
        <section class="categorias">
            <div class="categoria">
                <a href="#">
                    <img src="https://uptownspirits.com/wp-content/uploads/2021/09/Buy-Scotch-Online.jpg" alt="cerveza">
                </a>
            </div>
            <div class="categoria">
                <a href="#">
                    <img src="https://uptownspirits.com/wp-content/uploads/2021/09/Buy-Liqueur-Online.jpg" alt="licor">
                </a>
            </div>
            <div class="categoria">
                <a href="#">
                    <img src="https://uptownspirits.com/wp-content/uploads/2021/09/Buy-Whiskey-Online.jpg" alt="whisky">
                </a>
            </div>
        </section>
        <div class="titulo-destacados">
            <h2>PRODUCTOS DESTACADOS</h2>
        </div>
        <section class="productos-destacados">
            <article class="articulo">
                <div>
                    <a class="producto-destacado" href="#">
                        <img src="https://www.fullescabio.com/img/Producto/178/01-1600797433-61792f09bba90-wp.webp" alt="fernet branca">
                        <div class="descripcion-producto">
                            <h4>Fernet Branca 750ml</h4>
                            <p>$600</p>
                        </div>
                    </a>
                </div>
            </article>
            <article class="articulo">
                <div>
                    <a class="producto-destacado" href="#">
                        <img src="https://www.fullescabio.com/img/Producto/3bc73637-ee4d-d38b-4cc2-d42dfad0e0a2/Sernova-Vodka-CEPITA-61c9f09ee6f61-wp.webp" alt="vodka mas cepita">
                        <div class="descripcion-producto">
                            <h4>Fernet Branca 750ml</h4>
                            <p>$600</p>
                        </div>
                    </a>
                </div>
            </article>
            <article class="articulo">
                <div>
                    <a class="producto-destacado" href="#">
                        <img src="https://www.fullescabio.com/img/Producto/81d3136b-3929-5a7e-077d-eec5efeb628f/Gancia-paso-de-los-toros-61c9ef7d8497c-wp.webp" alt="paso de los toros mas gancia">
                        <div class="descripcion-producto">
                            <h4>Fernet Branca 750ml</h4>
                            <p>$600</p>
                        </div>
                    </a>
                </div>
            </article>
            <article class="articulo">
                <div>
                    <a class="producto-destacado" href="#">
                        <img src="https://www.fullescabio.com/img/Producto/b845e6d7-10a7-a666-3cdb-8ee4636afe7a/Jorge-cuervo-oro-618acb678ada6-wp.webp" alt="jose cuervo">
                        <div class="descripcion-producto">
                            <h4>Fernet Branca 750ml</h4>
                            <p>$600</p>
                        </div>
                    </a>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="footer-logo">
            <img src="/images/Beer Mug Free SVG Cut File.png" alt="Logo">
        </div>
        <nav class="enlaces-footer">
            <ul>
                <li class="enlace">
                    <a href="#">
                        <p>Mi Cuenta</p>
                    </a>
                </li>
                <li class="enlace">
                    <a href="#">
                        <p>Carrito</p>
                    </a>
                </li>
                <li class="enlace">
                    <a href="#">
                        <p>Productos</p>
                    </a>
                </li>
                <li class="enlace">
                    <a href="#">
                        <p>Ofertas</p>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="iconos-footer">
            <a href="#">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
                <i class="fab fa-facebook-square"></i>
            </a>
        </div>
        <p class="copyright">Copyright © 2022 Birritapp</p>
    </footer>
</body>

</html>