<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/product_detail.css">
    <title>Detalle del producto</title>
</head>
<body>
    <section class="main">
        <div class="product">
            <div class="product_images">
                <div class="samples_img">
                    <img src="/images/botella_roberto_cavalli.jpg" alt="">
                    <img src="/images/logo_roberto_cavalli.jpg" alt="">
                </div>
                <img class="main_img" src="/images/botella_roberto_cavalli.jpg" alt="">
            </div>
            <div class="product_description">
                <h3>DESCRIPCION</h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, incidunt. Ducimus qui in quo iure suscipit earum id aspernatur cum quae ab maxime autem, numquam, tenetur, beatae modi magnam odit?
                </p>
            </div>
        </div>
        <div class="buy_section">Detalles de compra</div>
    </section>
    <section>ACOMPAÑAMIENTOS
        <div>
            <img src="/images/mani.jpg" alt="">
            <img src="/images/schweppes_pomelo.jpg" alt="">
            <img src="/images/red_bull.jpg" alt="">
        </div>
    </section>
    
</body>
</html>
