* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header {
    background-color: black;
    color: white;
    padding: 10px;
    position:static;
    top: 0;
}

.hamburger-menu {
    display: flex;
    align-items: center;
    color: white;
    max-width: 20px;
    font-size: 18px;
    position: relative;
    left: 5%;
}

.my-account-icon,
.carrito {
    color: white;
    font-size: 18px;
}

.my-account-icon {
    position: relative;
    left: 60%;
}

.carrito {
    position: relative;
    right: 5%;
}

.logo>img {
    width: 10vw;
}

header ul {
    margin: 0;
    padding: 0;
}

.my-account,
.left-mid-navbar,
.right-mid-navbar {
    display: none;
}

.top-header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-left-bar,
.top-right-bar {
    display: flex;
}

.top-left-bar {
    justify-content: space-between;
    width: 55%
}

.top-right-bar {
    justify-content: space-between;
    width: 45%
}

.barra-busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.banner img {
    width: 100%;
    height: auto;
}

.nav-mid-header{
    display: flex;
    justify-content: space-between;
}