*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #f0ebd8;
}


.form-login{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10% 0%;
    padding: auto;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.form-login h1 {
    color: #FCA311;
    background-color: #0d1321;
    text-align: center;
    margin: auto;
    width: 100%;
    font-size: 100%;
    padding: 2%;
}
.form-login a{
    display: flex;
    text-align: left;
    color: #0a027e;
    font-family: Arial;
    font-size: 70%;
    margin: auto;
    margin-left: 0;
    padding: 2%;
    width: 80%;
    justify-content: left;
}

.controls{
    text-align: center;
    width: 95%;
    margin: 2%;
    padding: 2%;
    border: 2px #14213D solid;
    font-size: 14px;
    background-color: #f0ebd8;
    color: #FCA311;
}

.controls:focus{
    color: lightblue;
    background-color: black;
}

.button{
    width:95%;
    border: 2px #14213D solid;
    background-color: #ffffff;
    color: #3e5c76;
    margin: 2%;
    padding: 2%;
}
.button:hover{
    color: #ffffff;
    background-color: #748cab;
}

.buttons{
    width: 95%;
    border: 2px #14213D solid;
    background-color: #FCA311;
    color: #3e5c76;
    margin: 2%;
    padding: 2%;
}

.buttons:hover{
    color: #ffffff;
    background-color: #748cab;
}


.footer-logo {
    display: flex;
    justify-content: center;
}

.footer-logo img {
    width: 25%;
    height: auto;
    position: relative;
    top: 15px;
}

.enlaces-footer {
    display: flex;
    justify-content: center;
}

.enlaces-footer ul {
    padding: 0;
    text-align: center;
}

.enlace p {
    color: #444;
    padding: 5px 0 5px 0;
}

.iconos-footer {
    display: flex;
    justify-content: center;
}

.iconos-footer a {
    padding: 5px;
    color: #444;
}

.copyright {
    text-align: center;
    color: #444;
    padding-top: 10px;
}

@media (min-widht: 361px) {}

@media (min-widht: 765px) {}

@media (min-width: 1280px){}