*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1200px;
    height: 100vh;
}

header {
    background-color: black;
    color: white;
    padding: 10px;
}

.hamburger-menu {
    display: flex;
    align-items: center;
    color: white;
    max-width: 20px;
    font-size: 18px;
    position: relative;
    left: 5%;
}

.my-account-icon,
.carrito {
    color: white;
    font-size: 18px;
}

.my-account-icon {
    position: relative;
    left: 60%;
}

.carrito {
    position: relative;
    right: 5%;
}

.logo>img {
    width: 10vw;
}

header ul {
    margin: 0;
    padding: 0;
}

.my-account,
.left-navbar,
.right-navbar {
    display: none;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-bar,
.right-bar {
    display: flex;
}

.left-bar {
    justify-content: space-between;
    width: 55%
}

.right-bar {
    justify-content: space-between;
    width: 45%
}

.barra-busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.search-btn {}

.main{
    display: flex;
    flex-wrap: wrap;
}
.main h2{
    margin: 0px 10px;
}
.product_images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.samples_img{
    display: flex;
    box-shadow: 0px 0px 10px rgb(100 100 100);
    margin: 10px;
    border: solid 2px rgb(100 100 100);
    width: 100%;
}

.samples_img img{
    border: 1px black solid;
    border-radius: 10%;
    margin: 5px;
    height: 50px;
}

.main_img{
    box-shadow: 0px 0px 10px rgb(100 100 100);
    margin: 10px;
    border: solid 2px rgb(100 100 100);
    width: 100%;
}

.product_description{
    box-shadow: 0px 0px 10px rgb(100 100 100);
    margin: 10px;
    border: solid 2px rgb(100 100 100);
    max-width: 100%;
    padding: 10px;
}
.buy_section{
    box-shadow: 0px 0px 10px rgb(100 100 100);
    margin: 10px;
    border: solid 2px rgb(100 100 100);
    width: 100%;
    padding: 10px;
}

.acompañamientos{
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px rgb(100 100 100);
    margin: 10px;
    border: solid 2px rgb(100 100 100);
    max-width: 100%;
    padding: 10px;
    justify-content: center;
}

.producto_acompañamiento img{
    width: 100%;
}

.producto_acompañamiento{
    width: 100%;
    padding: 10%;
    margin: auto;
    border: solid 2px;
    margin-bottom: 10px;
    border-radius: 2%;
}
