*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    max-width: 1200px;
    height: 100vh;
    background-color: #f0ebd8;
}

.form-register {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10% auto;
    padding: auto;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.form-register h1 {
    color: #FCA311;
    background-color: #0d1321;
    text-align: center;
    margin: auto;
    width: 100%;
    font-size: 100%;
    padding: 2%;
}

.controls {
    text-align: center;
    width: 95%;
    margin: 2%;
    padding: 2%;
    border: 2px #14213D solid;
    font-size: 14px;
    background-color: #f0ebd8;
    color: #FCA311;
}


.controls:focus{
    color: lightblue;
    background-color: black;
}

.check{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2%;
    margin: 3%;
    background-color: #f0ebd8;
    color: #000000;
    width: 95%;
}

.buttons {
    display: flex;
    width: 45%;
    border: 2px #14213D solid;
    background-color: #f0ebd8;
    color: #3e5c76;
    margin: 2%;
    padding: 2%;
}

.buttons:hover{
    color: #ffffff;
    background-color: #748cab;
}

.footer-logo {
    display: flex;
    justify-content: center;
}

.footer-logo img {
    width: 25%;
    height: auto;
    position: relative;
    top: 15px;
}

.enlaces-footer {
    display: flex;
    justify-content: center;
}

.enlaces-footer ul {
    padding: 0;
    text-align: center;
}

.enlace p {
    color: #444;
    padding: 5px 0 5px 0;
}

.iconos-footer {
    display: flex;
    justify-content: center;
}

.iconos-footer a {
    padding: 5px;
    color: #444;
}

.copyright {
    text-align: center;
    color: #444;
    padding-top: 10px;
}

@media (min-widht: 361px) {
}

@media (min-widht: 765px) {
    .check{
        font-size: 20px;
    }
}

@media (min-width: 1280px){}