*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1200px;
    height: 100vh;
}

header {
    background-color: black;
    color: white;
    padding: 10px;
}

.hamburger-menu {
    display: flex;
    align-items: center;
    color: white;
    max-width: 20px;
    font-size: 18px;
    position: relative;
    left: 5%;
}

.my-account-icon,
.carrito {
    color: white;
    font-size: 18px;
}

.my-account-icon {
    position: relative;
    left: 60%;
}

.carrito {
    position: relative;
    right: 5%;
}

.logo>img {
    width: 10vw;
}

header ul {
    margin: 0;
    padding: 0;
}

.my-account,
.left-navbar,
.right-navbar {
    display: none;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-bar,
.right-bar {
    display: flex;
}

.left-bar {
    justify-content: space-between;
    width: 55%
}

.right-bar {
    justify-content: space-between;
    width: 45%
}

.barra-busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}