* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.banner{
    height: 10%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.banner img{
    width: 80%;
    height: 200px;
}

.categories{
    display: flex;
    flex-wrap: wrap;
}

.categories h2 {
    width: 100%;
    text-align: center;
    margin: auto;
}

.categories a {
    background-color: black;
    width: 70%;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: orange;
    text-transform: uppercase;
}

.sales{
    display: flex;
    flex-wrap: wrap;
}

.sales h2{
    width: 100%;
    text-align: center;
}

.sale-product{
    width: 60%;
    margin: auto;
    text-align: center;
    height: 250px;
    padding: 10px;
    border: solid 1px black;
    margin-bottom: 10px;
}

.sale-product img{
    width: 100%;
    height:75%;
}

@media (min-width: 361px) {}

@media (min-width: 765px) {
    .categories{
        width: 80%;
        margin: auto;
        justify-content: center;
    }
    .categories a{
        width: 30%;
        margin:unset;
        height: 200px;
    }

    .sales{
        width: 80%;
        margin: auto;
    }

    .sale-product{
        width: 40%;
    }

    .sale-product img{
        width: 30%;
    }
}