* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    max-width: 1200px;
    height: 100vh;
    font-family: 'Playfair Display', serif;
    color: #444;
}



.titulo-main {
    text-align: center;
    text-decoration: underline #444 solid;
    padding: 5px 0 0 0;
}

.categorias {
    display: flex;
    flex-flow: column;
    padding: 10px;
}

.categoria {
    display: flex;
    justify-content: center;
}

.categoria a {
    width: 100%;
}

.categoria img {
    width: 100%;
    height: auto;
    padding: 5px 0 5px 0;
}

.titulo-destacados {
    color: white;
    background-color: black;
    text-align: center;
    text-decoration: underline white solid;
    padding: 10px 0 5px 0;
}

.productos-destacados {
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 10px 0 30px 0;
}

.productos-destacados img,
.producto-destacado div {
    width: 100%;
    height: auto;
}

.articulo {
    width: 45%;
    padding: 0 0 10px 0;
}

.producto-destacado {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

.descripcion-producto {
    background-color: white;
    color: #444;
}

.footer-logo {
    display: flex;
    justify-content: center;
}

.footer-logo img {
    width: 25%;
    height: auto;
    position: relative;
    top: 15px;
}

.enlaces-footer {
    display: flex;
    justify-content: center;
}

.enlaces-footer ul {
    padding: 0;
    text-align: center;
}

.enlace p {
    color: #444;
    padding: 5px 0 5px 0;
}

.iconos-footer {
    display: flex;
    justify-content: center;
}

.iconos-footer a {
    padding: 5px;
    color: #444;
}

.copyright {
    text-align: center;
    color: #444;
    padding-top: 10px;
}

@media (min-width: 361px) {}

@media (min-width: 765px) {}