<% if (locals.isLogged) { %>
    <section class="footer">
        <section class="footer-navbars">
            <nav class="footer-about-navbar">
                <a href="">Contacto</a>
                <a href="">Sobre nosotros</a>
            </nav>
            <nav class="footer-products-navbar">
                <a href="/products">productos</a>
                <a href="/">categorías</a>
                <a href="/">ofertas</a>
            </nav>
        </section>
        <p style="color: orange;" class="copyright">Copyright © 2022 Birritapp</p>
    </section>
<% }else{ %>
    <section style="height: 200px; display:flex;" class="footer">
        <section style="display: flex; flex-wrap: wrap;" class="footer-navbars">
            <nav style="width: 100% ;" class="footer-about-navbar">
                <a href="">Contacto</a>
                <a href="">Sobre nosotros</a>
            </nav>
            <p style="color: orange; display: flex;" class="copyright">Copyright © 2022 Birritapp</p>
        </section>
    </section>
<% } %>


    

