<div class="footer-logo">
    <img src="/images/Beer Mug Free SVG Cut File.png" alt="Logo">
</div>
<nav class="enlaces-footer">
    <ul>
        <li class="enlace">
            <a href="">
                <p>Mi Cuenta</p>
            </a>
        </li>
        <li class="enlace">
            <a href="">
                <p>Carrito</p>
            </a>
        </li>
        <li class="enlace">
            <a href="">
                <p>Productos</p>
            </a>
        </li>
        <li class="enlace">
            <a href="">
                <p>Ofertas</p>
            </a>
        </li>
    </ul>
</nav>
<div class="iconos-footer">
    <a href="#">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="#">
        <i class="fab fa-facebook-square"></i>
    </a>
</div>
<p class="copyright">Copyright © 2022 Birritapp</p>