<section class="header">
    <section class="mid-header">
        <a class="logo" href="/"><img src="/images/Beer Mug Free SVG Cut File.png" alt="Logo Birritapp"></a>
        <form action="" class="search-bar" method="get">
            <input type="search" placeholder="Buscár productos, categorías, marcas..." autocomplete="off">
            <button class="search-btn" type="submit">
            <i class="fas fa-search"></i>
            </button>
    </section>
    <section class="header-navbars">
        <nav class="header-products-navbar">
            <a href="/products">productos</a>
            <a href="">categorías</a>
            <a href="">ofertas</a>
        </nav>
        <nav class="header-users-navbar">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/">Profile</a>
        </nav>  
    </section>
</section>