<% if (locals.isLogged) { %>
    <section class="header">
        <section class="mid-header">
            <a class="header-logo" href="/"><img src="/images/logo.jpg" alt="Logo Birritapp"></a>
            <form action="/" class="search-bar" method="get">
                <input type="search" placeholder="Buscár productos, categorías, marcas..." autocomplete="off">
                <button class="search-btn" type="submit">
                <i class="fas fa-search"></i>
                </button>
            </form>    
        </section>
        <section class="header-navbars">
            <nav class="header-products-navbar">
                <a href="/products">productos</a>
                <a href="/products/create">Añadir producto</a>
                <a href="">categorías</a>
                <a href="">ofertas</a>
            </nav>
            <nav class="header-users-navbar">
                <p>hola <%= locals.userLogged.name  %> </p>
                <a href="/logout">Logout</a>
                <a href="/profile">Profile</a>
            </nav>  
        </section>
    </section>
<% }else{%>
    <section class="header">
        <section class="mid-header">
        <a class="header-logo" href="/"><img src="/images/logo.jpg" alt="Logo Birritapp"></a>
        <h1>BIRRITAPP</h1>
    </section>
<% } %> 