<section class="top-header">
    <div class="top-left-bar">
        <a href="#" class="hamburger-menu">
            <i class="fas fa-bars"></i>
        </a>
        <div class="logo">
            <img src="/images/Beer Mug Free SVG Cut File.png" alt="Logo Birritapp">
        </div>
    </div>
    <div class="top-right-bar">
        <a href="#" class="my-account-icon">
            <i class="fas fa-user-circle"></i>
        </a>
        <a class="carrito" href="#">
            <i class="fas fa-shopping-cart"></i>
        </a>
    </div>
    <nav class="my-account">
        <ul>
            <li><a href="#">Registrarse</a></li>
            <li><a href="#">Iniciar Sesión</a></li>
        </ul>
    </nav>
</section>
<section class="mid-header">
    <form action="" class="barra-busqueda" method="get">
        <input class="search-bar" type="search" placeholder="Buscár productos, categorías, marcas..." autocomplete="off">
        <button class="search-btn" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
    <nav class="nav-mid-header">
        <ul class="left-mid-navbar">
            <li><a href="#">Productos</a></li>
            <li><a href="#">Promociones</a></li>
            <li><a href="#">Prueba</a></li>
            <li><a href="#">Prueba</a></li>
            <li><a href="#">Prueba</a></li>
            <li><a href="#">Prueba</a></li>
            <li><a href="#">Prueba</a></li>
            <li><a href="#">Prueba</a></li>
        </ul>
        <ul class="right-mid-navbar">
            <li>
                <a class="carrito" href="#">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </li>
        </ul>
    </nav>
</section>