* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.footer {
    background-color: black;
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
}

.left-footer {
    display: flex;
    width: 10%;
    height: 80%;
    flex-wrap: wrap;
    margin: auto;
}

.logo {
    margin: auto;
    width: 100%;
    height: 70%;
}

.logo img {
    height: 100%;
    width: auto;
    display: flex;
    align-content: center;
    margin: auto;
}

.footer-navbars {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.footer-users-navbar {
    display: flex;
    width: 30%;
    height: 20%;
    flex-wrap: wrap;

}

.footer-users-navbar a{
    margin: auto;
    text-align: start;
    color: orange;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    text-decoration-line: underline;
}

.footer-products-navbar {
    display: flex;
    width: 30%;
    height: 20%;
    flex-wrap: wrap;

}

.footer-products-navbar a{
    margin: auto;
    text-align: start;
    color: orange;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    text-decoration-line: underline;
}

.footer-about-navbar {
    display: flex;
    width: 30%;
    height: 20%;
    flex-wrap: wrap;

}

.footer-about-navbar a{
    margin: auto;
    text-align: start;
    color: orange;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    text-decoration-line: underline;
}



