<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partial/head") %> 
    <title>Carrito de compras</title>
</head>
<body>
    <header>
        <%- include("../partial/header") %> 
    </header>
    <main>
        <section class="shopping_cart">
            <section class="price_detail">
                <section class="product_detail">
                    <article class="product">
                        <div class="main_product">
                            <img src="/images/botella_roberto_cavalli.jpg" alt="">
                            <H3>Vodka Roberto Cavalli</H3>
                        </div>
                        <p>cantidad: 1</p>
                        <div class="price">
                            <p>Precio por unidad:</p>
                            <p>$30.000</p>
                        </div>
                        <div class="price">
                            <p>Precio total:</p>
                            <p>$30.000</p>
                        </div>
                    </article>
                    <article class="product">
                        <div class="main_product">
                            <img src="/images/red_bull.jpg" alt="">
                            <H3>Lata Red Bull</H3>
                        </div>
                        <p>cantidad: 6</p>
                        <div class="price">
                            <p>Precio por unidad:</p>
                            <p>$150</p>
                        </div>
                        <div class="price">
                            <p>Precio total:</p>
                            <p>$900</p>
                        </div>
                    </article>
                </section>
                <div class="subtotal">
                    <p>Subtotal</p>
                    <p>$30.900</p>
                </div>
                <div class="envio">
                    <div class="send_method">
                        <p>Envio</p>
                        <form>
                            <input type="radio" name="envio" id="sucursal">
                            <label for="sucursal">Retiro en sucursal</label><br>
                            <input type="radio" name="envio" id="domicilio">
                            <label for="domicilio">Envio a domicilio</label>
                        </form>
                    </div>
                    <div class="send_price">
                        <p>$Gratis</p>
                        <span>precio a acordar</span>
                    </div>
                    
                </div>
                <div class="total">
                    <p>TOTAL</p>
                    <P>$30.000</P>
                </div>
            </section>
            <div class="buttons">
                <form>
                    <button type="submit">
                        <label>Ver mas productos</label>
                    </button>
                    <button type="submit">
                        <label>Continuar Compra</label>
                    </button>
                </form>
            </div>
        </section>
        <section class="other_products">
            <h3>Productos que podrian interesarte</h3>
            <div class="products_samples">
                <article class="recommended_product">
                    <img src="/images/botella_bulldog.jpg" alt="">
                    <h4>Gin Bulldog</h4>
                    <p>$3.500</p>
                </article>
                <article class="recommended_product">
                    <img src="/images/botella_johnnie_walker_greenlabel.jpg" alt="">
                    <h4>Whiskey Johnnie Walker Greenlabel</h4>
                    <p>$11.500</p>
                </article>
                <article class="recommended_product">
                    <img src="/images/botella_moet_chandon.jpg" alt="">
                    <h4>Champagne Moet Chandon</h4>
                    <p>$7.000</p>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <%- include("../partial/footer") %> >
    </footer>
</body>
</html>