<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <%- include("../partial/head") %> 
    <title>Ingreso de sesión</title>
</head>
<body>
<header>
    <%- include("../partial/header") %> 
</header>
<form action ="login.html">
    <section class="form-login">
    <h1>
        BIENVENIDOS!
    </h1>
    <ul>
        <div>
            <input class="controls" type="email" name="email" placeholder="Correo electrónico">
        </div>
        <div>
                <input class="controls" type="password" name="pass" placeholder="Contraseña">
        </div>
        <div>
            <button class="buttons" type="submit">Ingresar</button>
        </div>
        <div>
            <button class="buttons" type="button">No tienes cuenta? Regístrate</button>
        </div>
        <div>
            <button class= "buttons" type="button">Ingresar como invitado</button>
        </div>
    </ul>
    </section>
</form>
<footer>
    <%- include("../partial/footer") %> >
</footer>
</body>
</html>