<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partial/head") %>
</head>
<body>
<header>
  <%- include("../partial/header") %>
</header>
    <h1 style="color: black; text-align: center;">REGISTRO DE USUARIOS</h1>
    <section class="forms">
        <form action="/register/guardar" method="post" enctype="multipart/form-data">
            <section class="imputs">
            
                <input class="imput" type="text" name="name" placeholder="Nombre y Apellido">
            
                <input class="imput" type="text" name="address"  placeholder="Dirección">

                <input class="imput" type="text" name="province" placeholder="Provincia">
            
                <input class="imput" type="text" name="location" placeholder="Localidad">
            
                <input class="imput" type="email" name="email" placeholder="Correo electrónico">
            
                <input class="imput" type="password" name="pass" placeholder="Contraseña">

                <input class="imput" type="file" name="FotoPerfil" placeholder="Foto de perfil">
            </section>
            <ul>
                <li>

                    <label for="terminos">Soy mayor de 18 años.
                        <input type="checkbox" name="legalAge" value="Si mayor de edad" id="terminos">
                    </label>

                    
                    <label for="politicas">Acepto las políticas de privacidad.
                        <input type="checkbox" name="politicas" value="Si politicas" id="politicas">
                    </label>

                    
                    <label for="promociones">Quiero recibir promociones y novedades por correo electrónico.
                        <input type="checkbox" name="notificaciones" value="Si promociones" id="promociones">
                    </label>
                </li>
            </ul>
                    <button type="reset">Borrar todo</button>
                    <button type="submit">Registrarse</button>


        </form>
    </section>
    <footer>
        <%- include("../partial/footer") %> >
    </footer>
</body>
</html> 