<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partial/head") %>
</head>
<body>
<header>
  <%- include("../partial/header") %>
</header>
        <div class="form-register">
            <form action="/register/guardar" method="post" enctype="multipart/form-data">
                <h1>
                    REGISTRO DE USUARIOS
                </h1>
                
                <p>
                    <input class="controls" type="text" name="name" placeholder="Nombre y Apellido">
                </p>
                
                <p>
                    <input class="controls" type="text" name="address"  placeholder="Dirección">
                </p>

                <p>
                    <input class="controls" type="text" name="province" placeholder="Provincia">
                </p>
                
                <p>
                    <input class="controls" type="text" name="location" placeholder="Localidad">
                </p>
                
                <p>
                    <input class="controls" type="email" name="email" placeholder="Correo electrónico">
                </p>
                
                <p>
                    <input class="controls" type="password" name="pass" placeholder="Contraseña">
                </p>

                <p>
                    <input class="controls" type="file" name="FotoPerfil" placeholder="Foto de perfil">
                </p>

                <section class="check">
                    <p>
                        <label for="terminos">Soy mayor de 18 años.</label>
                        <input type="checkbox" name="legalAge" value="Si mayor de edad" id="terminos">
                    </p>
                    <p>
                        <label for="politicas">Acepto las políticas de privacidad.</label>
                        <input type="checkbox" name="politicas" value="Si politicas" id="politicas">
                    </p>
                    <p>
                        <label for="promociones">Quiero recibir promociones y novedades por correo electrónico.</label>
                        <input type="checkbox" name="notificaciones" value="Si promociones" id="promociones">
                    </p>
                </section>
                    <p>
                        <input class="buttons" type="reset" value="Borrar todo">
                        <input class="buttons" type="submit" value="Registrarse">
                    </p>
            </form>
        </div>
        <footer>
          <%- include("../partial/footer") %> >
        </footer>
</body>
</html> 